/* Common styles */
@import 'modern-normalize';
@import './common.css';

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: rgb(255 255 255);
}

.container {
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}

.gallery-item {
  display: block;
  width: calc((100% - 2 * 24px) / 3);
  aspect-ratio: 360 / 200;
  overflow: hidden;

  transform: scale(1);
  transition: transform 250ms ease-in;
  z-index: 1;
}

.gallery-item:hover {
  transform: scale(1.04);
  z-index: 99;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
